<% include partials/header %>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
   

        <h1> <%= title %> </h1>
        <a href="/add">Add Car</a>
    
    <table style="width:100%">
      <tr>
        <th>Make</th>
        <th>Model</th> 
        <th>Year</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      
      
            <% for (let i = 0; i < cars.length; i++) { %>

                <tr>
                  <td>
                    <%= cars[i].make %>
                  </td>
                  <td>
                    <%= cars[i].model %>
                  </td>
                  <td>
                    <%= cars[i].year %>
                  </td>
                  <td>
                        <a href="/admin/edit/<%= cars[i]._id %>">Edit</a>
                      </td>
                      <td>
                            <a href="/admin/delete/<%= cars[i]._id %>" onclick="return confirm('You want to delete this?');">Delete</a>
                          </td>
                  <% } %>
      </tr>

    </table>

    <% include partials/footer %>
    